<div class="app-home">
    <h1 class="motto">The Fastest Angular on the web</h1>
    <div class="home-words">
        <p>
            Fast and secure sites and apps deliuvered by pre-rendering files and serving them directory from a CDN, removing the requirements to manage or run web servers.
        </p>
    </div>
    <div class="home-box">
        <div class="home-card">
            <h1 class="home-card-header">Fast</h1>
            <img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1590679634/justin-jason-NZlbve4F1xk-unsplash_wemzcu.jpg" alt="doggo!" class="home-card-image">
        </div>
        <p class="home-card-content">
            <b>Cuter websites</b>
            Optimize your sites with prerendering and global delivery.
        </p>
    </div>
</div>